# ESP-IDF
build
sdkconfig.old
dependencies.lock


# VIM files
*.swp
*.swo
**/.cache


# VS-code
settings.json
.vscode/


# drawio
*.dtmp
*.bkp
# diagrams are mostly temporary (pdf files are tracked)
*.drawio


# other
octave-workspace


# project
credentials.h
